{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'personal_cabinet' %}">Личный кабинет</a>
        <a href="{% url 'view_schedule' %}">Расписания</a>
    </div>

    <button class="openbtn" onclick="openNav()">+</button>
    <h2>Свернутая боковая панель</h2>
    <p>Здесь может быть ваш контент...</p>

    <script>

        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script>

</body>
</html>
